# HYPERPARAMETER TUNNING

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

In [3]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [5]:
from sklearn.model_selection import cross_val_score,KFold
from sklearn.neighbors import KNeighborsRegressor

In [6]:
knn = KNeighborsRegressor()

In [7]:
kfold = KFold(n_splits=5, shuffle=True, random_state=1)
scores = cross_val_score(knn, X, y, cv=kfold, scoring='r2')

In [8]:
scores.mean()

0.4761976351913221

### GridSearchCV

In [9]:
from sklearn.model_selection import GridSearchCV

In [10]:
knn = KNeighborsRegressor()

In [11]:
param_grid = {
    'n_neighbors':[1,3,5,7,10,12,15,17,20],
    'weights':['uniform','distance'],
    'algorithm':['ball_tree', 'kd_tree', 'brute'],
    'p':[1,2]
}

In [12]:
gcv = GridSearchCV(knn, param_grid, scoring='r2', refit=True, cv=kfold,
                   verbose=2)

In [24]:
# gcv.fit(X,y)

In [14]:
gcv.best_params_

{'algorithm': 'ball_tree', 'n_neighbors': 5, 'p': 1, 'weights': 'distance'}

In [15]:
gcv.best_score_

0.6117139367845081

In [25]:
# gcv.cv_results_

In [17]:
pd.DataFrame(gcv.cv_results_)[['param_algorithm','param_n_neighbors',
    'param_p', 'param_weights', 'mean_test_score']].sort_values('mean_test_score',
                                                                ascending=False)

   param_algorithm param_n_neighbors param_p param_weights  mean_test_score
81           brute                 5       1      distance         0.611714
45         kd_tree                 5       1      distance         0.611714
9        ball_tree                 5       1      distance         0.611714
49         kd_tree                 7       1      distance         0.605716
85           brute                 7       1      distance         0.605716
..             ...               ...     ...           ...              ...
38         kd_tree                 1       2       uniform         0.331522
2        ball_tree                 1       2       uniform         0.331522
75           brute                 1       2      distance         0.331522
39         kd_tree                 1       2      distance         0.331522
3        ball_tree                 1       2      distance         0.331522

[108 rows x 5 columns]

### RandomizedSearchCV

In [19]:
from sklearn.model_selection import RandomizedSearchCV

In [20]:
rcv = RandomizedSearchCV(knn, param_grid, scoring='r2', refit=True, 
                         cv=kfold, verbose=2)

In [26]:
# rcv.fit(X,y)

In [22]:
rcv.best_score_

0.6117139367845081

In [23]:
rcv.best_params_

{'weights': 'distance', 'p': 1, 'n_neighbors': 5, 'algorithm': 'kd_tree'}